html{
  height: 100%;
  width: 100%;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

main{
  background-color: blueviolet;
}

.weboldalcim{
  color: white;
}
.kartya-magyarazo-ikonok, .card-text{
  display: inline-block;
  margin: 0;
}

.kartya-magyarazo-ikonok{
  width: 20px;
  height: 20px;
}

.kartya-magyarazo-ikonok-szoveg{
  padding-left: 20px;
}

.card{
  margin-bottom: 1rem;
}

.card:hover{
  background-color: lightgreen;
}

/*
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body text-success">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
*/