.weboldalcim{
  color: white;
}
.kartya-magyarazo-ikonok, .card-text{
  display: inline-block;
  margin: 0;
}

.kartya-magyarazo-ikonok{
  width: 20px;
  height: 20px;
}

.kartya-magyarazo-ikonok-szoveg{
  padding-left: 20px;
}

.card{
  margin-bottom: 1rem;
}

.card:hover .card-body{
  background-image: linear-gradient(180deg, white, blueviolet);
}

.card .card-text{
  transition: color 1s;
}
.card:hover .card-body p:last-child{
  color: white;
}


.card > img{
  transition: transform 1s;
}
.card:hover > img{
  transform: scale(1.02);
}

.card-body > h5{
  text-transform: uppercase;
}

main, a, a:hover{
  background-color: blueviolet;
  color: white;
}